---

# -------------------------------------------------------------------------------------------------
# Job Name
# -------------------------------------------------------------------------------------------------
name: build


# -------------------------------------------------------------------------------------------------
# When to run
# -------------------------------------------------------------------------------------------------
on:
  push:
    paths:
      - 'Makefile'
      - 'Dockerfiles/**'
      - 'tests/**'
      - '.github/workflows/action*.yml'
      - '.github/workflows/params.yml'

jobs:

  # (1/2) Determine repository params
  params:
    uses: ./.github/workflows/params.yml

  # (2/2) Build
  #  docker:
  #    needs: [params]
  #    uses: devilbox/github-actions/.github/workflows/docker-name-version-flavour-arch.yml@master
  #    with:
  #      enabled: true
  #      can_deploy: ${{ github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release-') }}
  #      matrix: ${{ needs.params.outputs.matrix }}
  #      refs: ${{ needs.params.outputs.refs }}
  #    secrets:
  #      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
  #      dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
  #
