---

# -------------------------------------------------------------------------------------------------
# Job Name
# -------------------------------------------------------------------------------------------------
name: params


# -------------------------------------------------------------------------------------------------
# Custom Variables
# -------------------------------------------------------------------------------------------------
env:
  VERSIONS: >-
    [
      {
        "NAME": "ansible",
        "VERSION": [
          "latest",
          "2.13",
          "2.12",
          "2.11",
          "2.10",
          "2.9",
          "2.8"
        ],
        "KOPS": [
          "1.25",
          "1.24",
          "1.23",
          "1.22",
          "1.21",
          "1.20",
          "1.19"
        ],
        "HELM": [
          "3.10",
          "3.9",
          "3.8",
          "3.7",
          "3.6",
          "3.5",
          "3.4",
          "3.3",
          "3.2",
          "3.1",
          "3.0",
          "2.16"
        ],
        "FLAVOUR": ["default"],
        "ARCH":    ["linux/amd64", "linux/arm64"]
      }
    ]

  # Set Refs to build for scheduled jobs
  REFS: >-
    {
      "DEFAULT_BRANCH": "master",
      "BRANCHES": "master",
      "NUM_LATEST_TAGS": 0
    }


# -------------------------------------------------------------------------------------------------
# When to run
# -------------------------------------------------------------------------------------------------
on:
  workflow_call:
    outputs:
      versions:
        description: "Stringified JSON of Versions definition."
        value: ${{ jobs.params.outputs.versions }}
      refs:
        description: "Stringified JSON of Refs definition."
        value: ${{ jobs.params.outputs.refs }}

jobs:
  params:
    runs-on: ubuntu-latest

    outputs:
      versions: ${{ steps.set-json.outputs.versions }}
      refs: ${{ steps.set-json.outputs.refs }}

    steps:
      - name: "[Set-Output] JSON"
        id: set-json
        run: |
          VERSIONS="$( echo '${{ env.VERSIONS }}' | jq -M -c )"
          REFS="$( echo '${{ env.REFS }}' | jq -M -c )"

          echo "versions=${VERSIONS}" >> $GITHUB_OUTPUT
          echo "refs=${REFS}"         >> $GITHUB_OUTPUT

      - name: "[DEBUG] Show settings'"
        run: |
          echo 'Versions'
          echo '--------------------'
          echo '${{ steps.set-json.outputs.versions }}'
          echo

          echo 'Refs'
          echo '--------------------'
          echo '${{ steps.set-json.outputs.refs }}'
          echo
